{{ define "main" -}}
<main class="main layout__main">
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<header>
<h1 class="title {{ if $.Param "submitted" | default false }}title-submitted{{ end }}">{{ .Title }}</h1>
{{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . }}{{ end -}}
{{ if .Params.tags }}{{ partial "tags.html" . }}{{ end -}}
</header>

{{if .Params.podcast_iframe -}}
  <iframe src="{{ .Params.podcast_iframe }}" width="100%" frameborder="0" scrolling="no"></iframe>
{{ else -}}
  {{ $src := ($.Param "podcast_mp3" | absURL) -}}
  <figure class="podcast">
    <audio controls preload="{{ .Site.Params.Podcast.preload | default "metadata" }}"><source src="{{ $src }}" type="audio/mpeg"></audio>
  </figure>

{{if .Params.podcast_image_src -}}
  {{ $resource := resources.Get .Params.podcast_image_src}}
  <figure class="image {{ .Params.podcast_image_class | default "right" }}"><img src="{{ $resource.RelPermalink }}" width="{{ .Params.podcast_image_width | default "250" }}" alt="{{ .Params.podcast_image_alt }}" title="{{ .Params.podcast_image_alt }}"></figure>
{{ end -}}
{{ end -}}


<div class="content">

{{ with .Site.Params.fadian }}

<div class="head-blockquote">
    {{ . | markdownify}}
</div>

{{ end }}

{{ .Content }}

<h2>
  收听方式
</h2>
<ul>
  <li>
    国内：<a href="https://www.xiaoyuzhoufm.com/podcast/61d06724ee197a3aac3dab61">小宇宙</a>、<a href="/images/weixin.jpg">微信公众号</a>、<a href="/podcast/index.xml">RSS</a>
  </li>
  <li>
    国外：<a href="https://podcasters.spotify.com/pod/show/rusttalk">Spotify for Podcasters</a>、<a href="https://podcasts.apple.com/us/podcast/rusttalk/id1602908335">Apple Podcasts</a>、<a href="https://anchor.fm/s/d2d6f254/podcast/rss">RSS</a>
  </li>
</ul>
<img src="/misc/xyz-qrcode.webp"/>

<h2>
  反馈
</h2>
<ul>
  <li>
    发现内容错误或链接失效？欢迎<a href="{{ .Site.Params.git_repo}}/blob/master/content/{{ .File.Path }}">提交 PR</a>
  </li>
  <li>对节目有想法或建议？欢迎<a href="mailto:{{ .Site.Author.email }}">来信交流️</a></li>
</ul>
</div>
</article>
</main>

<style>
  article a {
      /* text-decoration-style: wavy; */
      text-decoration-color: blue;
      text-decoration-thickness: 2px;
  }
  figure figcaption {
    text-align: center;
    font-style: italic;
    color: grey;
  }

  .head-blockquote  {
      border: 1px;
      border-style: dashed;
      font-size: 15px;
      padding-left: 15px;
      background: #eee;
  }
</style>
{{ end }}
