{{if .Params.podcast_iframe -}}
<iframe src="{{ .Params.podcast_iframe }}" height="102px" width="600px" frameborder="0" scrolling="no"></iframe>

{{ else -}}

{{ $src := ($.Param "podcast_mp3" | absURL) -}}
{{ if .Site.Params.Podcast.cdn -}}
{{ $src = add $.Site.Params.Podcast.cdn ($.Param "podcast_mp3" | relURL) -}}
{{ end -}}
<figure class="podcast">
  <audio controls preload="{{ .Site.Params.Podcast.preload | default "metadata" }}"><source src="{{ $src }}" type="audio/mpeg"></audio>
</figure>
{{ end -}}

{{if .Params.podcast_image_src -}}
{{ $resource := resources.Get .Params.podcast_image_src}}
<figure class="image {{ .Params.podcast_image_class | default "right" }}"><img src="{{ $resource.RelPermalink }}" width="{{ .Params.podcast_image_width | default "250" }}" alt="{{ .Params.podcast_image_alt }}" title="{{ .Params.podcast_image_alt }}"></figure>
{{ end -}}
