{{ $pageurl := .Permalink }}

<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_sina_weibo"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_pocket"></a>
<a class="a2a_button_hacker_news"></a>
<a class="a2a_button_email"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->

<hr/>
<script src="https://utteranc.es/client.js"
        repo="rusttalk/rusttalk.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<style>
  article a {
      /* text-decoration-style: wavy; */
      text-decoration-color: blue;
      text-decoration-thickness: 2px;
  }
  figure figcaption {
    text-align: center;
    font-style: italic;
    color: grey;
  }
</style>
