{{ $currentSection := .Section -}}
{{ $currentID := "" -}}
{{ with .File }}{{ $currentID = .UniqueID }}{{ end -}}
<aside class="sidebar layout__second-sidebar">
  <section>
    <h4 class="menu">收听方式</h4>
    <ul class="menu">
      <ol>
        <a target="_blank" href="/podcast/index.xml" style="display: inline-block; background-color: #FFFFFF; background-image: url(/images/listen-on-embed.svg); background-repeat: no-repeat; border: 1px solid #000000; border-radius: 5px; margin: 0 5px 5px 0; text-indent: -9000px; background-position: -230px -653px; height: 40px; width: 160px;">RSS Feed</a>
      </ol>
      <ol>
        <a target="_blank" href="/images/weixin.png" style="display: inline-block; background-color: #FFFFFF; background-image: url(/images/gongzhonghao133x35.jpg); background-repeat: no-repeat; border: 1px solid #000000; border-radius: 5px; margin: 0 5px 5px 0; text-indent: -9000px; height: 40px; width: 160px;">微信公众号</a>
      </ol>
      <!-- <ol> -->
      <!--   <a target="_blank" href="https://www.xiaoyuzhoufm.com/podcast/60eabfdd030f8753b9982047" style="display: inline-block; background-color: #FFFFFF; background-image: url(/images/xiaoyuzhou.jpg); background-repeat: no-repeat; border: 1px solid #000000; border-radius: 5px; margin: 0 5px 5px 0; text-indent: -9000px; height: 40px; width: 160px;">小宇宙</a> -->
      <!-- </ol> -->
      <ol>
        <a target="_blank" href="https://www.ximalaya.com/keji/55995338/" style="display: inline-block; background-color: #FFFFFF; background-image: url(/images/ximalaya160x40.png); background-repeat: no-repeat; border: 1px solid #000000; border-radius: 5px; margin: 0 5px 5px 0; text-indent: -9000px; height: 40px; width: 160px;">喜马拉雅</a>
      </ol>
      <ol>
        <a target="_blank" href="https://podcasts.apple.com/us/podcast/rusttalk/id1602908335" style="display: inline-block; background-color: #FFFFFF; background-image: url(/images/listen-on-embed.svg); background-repeat: no-repeat; border: 1px solid #000000; border-radius: 5px; margin: 0 5px 5px 0; text-indent: -9000px; background-position: -230px 7px; height: 40px; width: 160px;">Apple Podcasts</a>
      </ol>
      <!-- <ol> -->
      <!--   <a target="_blank" href="https://pca.st/hbvw3oxs" style="display: inline-block; background-color: #FFFFFF; background-image: url(/images/listen-on-embed.svg); background-repeat: no-repeat; border: 1px solid #000000; border-radius: 5px; margin: 0 5px 5px 0; text-indent: -9000px; background-position: -230px -473px; height: 40px; width: 160px;">Listen on Pocket Casts</a> -->
      <!-- </ol> -->
      <ol>
        <a target="_blank" href="https://open.spotify.com/show/1YQEEXZ9atsCCb9rFUYcb3" style="display: inline-block; background-color: #FFFFFF; background-image: url(/images/listen-on-embed.svg); background-repeat: no-repeat; border: 1px solid #000000; border-radius: 5px; margin: 0 5px 5px 0; text-indent: -9000px; background-position: -230px -53px; height: 40px; width: 160px;">Listen on Spotify</a>
      </ol>
      <!--
      <ol>
        <a target="_blank" href="https://castbox.fm/channel/EmacsTalk-id4367580" style="display: inline-block; background-color: #FFFFFF; background-image: url(/images/listen-on-embed.svg); background-repeat: no-repeat; border: 1px solid #000000; border-radius: 5px; margin: 0 5px 5px 0; text-indent: -9000px; background-position: -230px -353px; height: 40px; width: 160px;">Listen on Castbox</a>
      </ol>
      <ol>
        <a target="_blank" href="https://podcasts.google.com/feed/aHR0cHM6Ly9lbWFjc3RhbGsuZ2l0aHViLmlvL3BvZGNhc3QvaW5kZXgueG1s" style="display: inline-block; background-color: #FFFFFF; background-image: url(https://www.gstatic.com/podcasts_console/promote/English_EN/EN_Google_Podcasts_Badge.svg); background-repeat: no-repeat; border: 1px solid #000000; border-radius: 5px; margin: 0 5px 5px 0; text-indent: -9000px;  height: 40px; width: 160px;">Listen on Google</a>
      </ol>
      -->
    </ul>
  </section>
  {{ range .Site.Sections -}}
  <section>
    <h4 class="menu"><a href="{{ .RelPermalink }}"{{ if eq $currentSection .Section }} class="active" aria-current="page"{{ end }}>{{ .Title }}</a></h4>
    <ul class="menu">
      {{ range .Pages -}}
      <li><a href="{{ .RelPermalink }}"{{ if eq $currentID .File.UniqueID }} class="active" aria-current="page"{{ end }}>{{ .Title }}</a></li>
      {{ end -}}
    </ul>
  </section>
  {{ end -}}
</aside>
